<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.dao.UserMapper">

<!--   在当前mapper.xml中使用二级缓存-->
       <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
       <select id="queryUserById" parameterType="_int" resultType="user">
           select * from mybatis.tb_user where id=#{id}
       </select>
       <update id="updateUser" parameterType="user">
           update mybatis.tb_user
           set username=#{username},pwd=#{pwd}
           where id=#{id};
       </update>
</mapper>
